body {
  background: radial-gradient(
    circle,
    rgba(247, 247, 247, 0.416) 0%,
    rgba(9, 225, 232, 0.7) 100%
  );
}
.heading {
  font-size: 40px;
  font-family: Comic Sans MS;
}
.box1 {
  border: 5px solid white;
  background-color: rgba(135, 244, 11, 0.543);
  margin: 20px auto;
  width: 400px;
  height: 500px;
  padding: 70px;
  border-radius: 16px;
  font-family: Gabriola;
  font-weight: bolder;
  font-size: 26px;
}
.btn {
  background-color: white;
  border: none;
  width: 42%;
  padding: 11px;
  border-radius: 50px;
  font-size: 75%;
  font-family: cursive;
  font-weight: bolder;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(26, 27, 27, 0.637);
  color: white;
}
