body {
  background: radial-gradient(
    circle,
    rgba(9, 225, 232, 0.7) 0%,
    rgba(247, 247, 247, 0.416) 250%
  );
}
.box {
  border: 3px solid white;
  width: 420px;
  padding: 0px;
  margin: 50px auto;
  border-radius: 16px;
  font-family: cursive;
}
.vid {
  width: 100%;
  opacity: 0.8;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  border-bottom: 3px solid white;
}

.details {
  padding: 10px;
}
.tag {
  color: rgb(101, 98, 98);
}
.btn {
  background-color: white;
  border: none;
  width: 42%;
  padding: 11px;
  border-radius: 50px;
  font-size: 14px;
  font-family: cursive;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 20px;
}
.btn:hover {
  background-color: rgba(0, 34, 255, 0.546);
  color: white;
}
